* {
	margin: 0;
	padding: 0;
}
#app,body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
p{
	margin: 0;
	padding: 0;
	display: inline-block;
}
.el-container,.el-scrollbar__view,.el-scrollbar__wrap{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.app-icon-bag {
	display: inline-block;
	background-position: 50%;
	background-repeat: no-repeat;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.emoticon-bag {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 28px;
	width: 28px;
	background-size: 22px;
}
.mc{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 998;
}
.hideMc{
	background: #000;
	opacity: 0.4;
}
/deep/ .el-autocomplete-suggestion__wrap {
	width: unset;
	overflow: scroll;
}
.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	min-height: 550px;
	min-width: 900px;
	background: url(../assets/app-bg.jpg) 100% no-repeat;
}
.i-error {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: 100%;
	background-image: url("../assets/error.png");
}
.app-icon-bag.i-waiting {
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: 100%;
	background-image: url("../assets/waiting.gif");
}
.flexCloumn{
	flex-direction: column;
}
.optionChild{
	margin: 5px 0;
}
.session-options{
	display: flex;
	border-bottom: 1px solid #292c33;
	padding: 0;
	.el-submenu__title{
		display: flex;
	}
	.option-line:last-child{
		margin-bottom: 0;
	}
	.option-l{
		display: flex;
		align-items: center;
		height: 100%;
	}
	.option-r{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 10px;
		width: 80%;
		.option-line{
			display: flex;
			padding-right: 14px;
			margin-bottom: 3px;
			min-height: 13px;
			align-items: center;
			.dialog-title{
				width: 150px;
				font-size: 14px;
				line-height: 1.2;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.dialog-name{
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			.last-time{
				font-size: 12px;
				color: #8e8e8f;
				line-height: 12px;
			}
			.last-msg{
				flex: 1 1 auto;
				display: flex;
				font-size: 13px;
				color: #8e8e8f;
				min-width: 0;
				overflow: hidden;
				height: 22px;
				.last-msg-text {
					display: flex;
					flex: 1;
					min-width: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					align-items: center;
					/deep/ img{
						width: 22px;
						height: 22px;
					}
				}
			}
			.new-count{
				height: 16.9px;
				line-height: 16.9px;
				width: 16.9px;
				margin-right: 6px;
				border-radius: 16.9px;
				background-color: #f43530;
				font-size: 11px;
				text-align: center;
				color: #fff;
			}
		}
	}
}
.el-image{
	max-width: 100px;
	max-height: 200px;
	height: auto !important;
	width: auto !important;
	cursor: pointer;
}
.showPic{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	.showPicImg{
		z-index: 1000;
		max-height: unset;
		max-width: unset;
	}
	.closeI{
		position: fixed;
		right: 10px;
		top: 10px;
		color: #fff;
		z-index: 1000;
		width: 40px;
		height: 40px;
		font-size: 40px;
	}
}
.messageImg{
	max-width: 200px;
	max-height: 200px;
}
.userNick{
	font-size: 14px;
	width: 20px;
	position: relative;
	height: 25px;
}
.userNick>div{
	position: absolute;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
